<html>
<head>
  <link rel="icon" href="data:,">
  <link rel="shortcut icon" href="#" />
   <body>
      <form action = "http://localhost:5000/result" method = "POST">
         <p>Tech Skills <input type = "text" name = "Tech skills" /></p>
         <p>Soft Skills <input type = "text" name = "Soft skills" /></p>
         <p>Majors <input type = "text" name = "Majors" /></p>
         <p>GPA >= <input type ="text" name = "GPA" /></p>
         <p>Expected Graduation <input type ="text" name = "Expected Graduation" /></p>
         <p><input type = "submit" value = "submit" /></p>
      </form>
   </body>
 </head>
</html>
